{% extends "base.html" %}

{% block title %}
Add Recommendation
{% endblock %}

{% block content %}

<h2>Add a Recommendation</h2>

<form method="POST">

    <label for="name">Place Name</label>
    <input type="text" id="name" name="name" required>

    <label for="location">Location</label>
    <input type="text" id="location" name="location" required>

   <label for="category">Category</label>
<select id="category" name="category" required onchange="showOtherCategory()">
    <option value="">Choose a category</option>
    <option value="Restaurant">Restaurant</option>
    <option value="Attraction">Attraction</option>
    <option value="Cafe">Cafe</option>
    <option value="Nightlife">Nightlife</option>
    <option value="Other">Other</option>
</select>

<div id="other-category-section" style="display: none;">
    <label for="other_category">Enter Category</label>
    <input
        type="text"
        id="other_category"
        name="other_category"
        placeholder="e.g. Shopping, Park, Museum"
    >
</div>

    <label for="rating">Rating</label>
    <select id="rating" name="rating" required>
        <option value="">Choose a rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <label for="description">Description</label>
    <textarea
        id="description"
        name="description"
        rows="5">
    </textarea>

    <label for="recommended_by">Recommended By</label>
<input
    type="text"
    id="recommended_by"
    name="recommended_by"
    placeholder="Your name"
>

<label for="image_url">Image URL</label>
<input
    type="url"
    id="image_url"
    name="image_url"
    placeholder="https://example.com/image.jpg"
>

    <button type="submit">Add Recommendation</button>

</form>
<script>
    function showOtherCategory() {
        const category = document.getElementById("category");
        const otherSection = document.getElementById("other-category-section");
        const otherInput = document.getElementById("other_category");

        if (category.value === "Other") {
            otherSection.style.display = "block";
            otherInput.required = true;
        } else {
            otherSection.style.display = "none";
            otherInput.required = false;
            otherInput.value = "";
        }
    }
</script>

{% endblock %}